

body{
background-image:url(https://besthqwallpapers.com/img/original/51060/acropolis-of-athens-greek-architecture-greek-landmarks-panorama-athens.jpg) ;
background-size: cover ;
background-attachment: fixed;
background-position: center;

}

#menu{
margin-left: 50px;
}
.titre{


text-align: center;
border-width: 2px;
background-color: saddlebrown;
    color :white ;
    font-family: Brush Script MT, Brush Script Std, cursive ;
  width: auto ;
  margin: auto;
  height: auto;
  border-width:9px;
  border-style:double;
  border-color:black;
}
header{
  margin-bottom: 5%;
}
.marge {
padding:5%
}



.lef{


  text-align: left;
}

.sidebarr{
padding: 40px;
background: rgba(255, 255, 255, 0.7);
}
.mb {
  border-bottom: 20px;

}
.mtt {
  margin-top: 4%;

}
.bouboule{
  background: rgba(0, 0, 0, 0.8);

}
.main {

  padding-left:5%;
  padding-right:5%;
  padding-bottom:5%;
}
.pdl{

  padding-left:2%;
}

.mt{

  padding:7%;
  max-height: 354px;
}
.im{
max-width: 250px;
width: auto;

}
.mb{

margin-bottom: 3%;

}
.ban{
height: auto;
width:100%;
background-color: grey;
color:white;
text-align:center;


}
.bord{

  border-width:10px;
  border-style:double;
  border-color:grey;
  margin-top: 5%;
}
.connex{
float:inline-end;



}

.LienImage{
text-decoration: none;

}

.connexion{
  float: right;
  text-align: center;
  color: white;
  border: 1px solid white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: auto;
  margin: auto;
  height: auto;
  size: 50%;
}